.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar {
    width: 230px;
    background-color: #f2f2f2;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.board-container {

    padding: 10px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.board-item {
    width: 100px;
    height: 75px;
    background-color: #1E90FF;
    color: white;
    text-align: center;
    line-height: 75px;
    border-radius: 10px;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.board-item:hover {
    background-color: #36D1DC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.board-item:active {
    transform: scale(0.95);
}

.search-container {
    position: relative;

    display: flex;
    vertical-align: middle;
}

.search-input {
    margin-top: 10px;
    width: 0;
    height: 36px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: width 0.3s, opacity 0.3s;
    opacity: 0;
    display: inline-block;
    vertical-align: middle;
}

.search-input.active {
    width: 200px;
    opacity: 1;
}

.search-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}