<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-fragment(title)">
    <meta charset="utf-8">
    <title th:text="${title}">首页</title>
    <link rel="shortcut icon" th:href="@{/images/my-bbs-icon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="My-BBS,bbs,论坛,SpringBoot论坛,论坛系统,Java论坛,SpringBoot,spring-boot,java">
    <meta name="description" content="My BBS 是由 SpringBoot + Mybatis + Thymeleaf 等技术实现的 Java BBS论坛系统">
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.css">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<div th:fragment="header-fragment" class="fly-header layui-bg-black">
    <div class="layui-container">
        <div class="layui-header">
            <a class="fly-logo" href="/">
                <!--            <img th:src="@{/images/my-bbs-logo.png}" alt="My-BBS">-->
                <div style="color:#009688; height: 60px;line-height: 60px;font-size:20px">BBS</div>
            </a>
            <!--        <ul class="layui-nav fly-nav layui-hide-xs">-->
            <!--            <li class="layui-nav-item layui-this">-->
            <!--                <a href="https://www.lanqiao.cn/courses/4830"><i class="iconfont icon-wenda"></i>开发文档</a>-->
            <!--            </li>-->
            <!--            <li class="layui-nav-item">-->
            <!--                <a href="https://github.com/ZHENFENG13/My-BBS"><i class="iconfont icon-daima"></i>源码</a>-->
            <!--            </li>-->
            <!--            <li class="layui-nav-item layui-this">-->
            <!--                <a href="https://juejin.im/user/59199e22a22b9d0058279886"><i class="iconfont icon-jiaoliu"></i>交流</a>-->
            <!--            </li>-->
            <!--        </ul>-->

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <div class="search-container">
                        <input type="text" class="search-input" id="search-input" placeholder="搜索...">
                        <a href="javascript:;" id="search-icon" class="search-icon">
                            <i class="layui-icon layui-icon-search"></i>
                        </a>
                    </div>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" id="notification-icon">
                        <i class="layui-icon layui-icon-notice"></i>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">消息1</a></dd>
                        <dd><a href="javascript:;">消息2</a></dd>
                    </dl>
                </li>
                <th:block style="display:inline-block;" th:if="${session.myBBSUser==null}">
                    <li class="layui-nav-item">
                        <a class="iconfont icon-touxiang layui-hide-xs" th:href="@{/login}"></a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/login}">登入</a>
                    </li>
                    <li class="layui-nav-item">
                        <a th:href="@{/register}">注册</a>
                    </li>
                </th:block>

                <th:block style="display:inline-block;" th:unless="${session.myBBSUser==null}">
                    <li class="layui-nav-item">
                        <a class="fly-nav-avatar" href="javascript:;">
                            <cite class="layui-hide-xs" th:text="${session.myBBSUser.nickName}">程序员十三</cite>
                            <th:block th:if="${session.myBBSUser.gender=='男'}">
                                <i class="iconfont icon-nan"></i>
                            </th:block>
                            <th:block th:if="${session.myBBSUser.gender=='女'}">
                                <i class="iconfont icon-nv"></i>
                            </th:block>
                            <th:block th:if="${session.myBBSUser.gender=='未知'}">
                                <i class="iconfont icon-biaoqing"></i>
                            </th:block>
                            <img th:src="@{${session.myBBSUser.headImgUrl}}">
                            <span class="layui-nav-more"></span>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{/userSet}"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
                            <dd><a th:href="@{/myCenter}"><i class="layui-icon"
                                        style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
                            </dd>
                            
                            <hr style="margin: 5px 0;">
                            <dd th:if="${session.myBBSUser.loginName=='admin'}"><a th:href="@{/admin}" style="text-align: center;">进入管理系统</a></dd>
                            <dd><a th:href="@{/logout}" style="text-align: center;">退出</a></dd>
                        </dl>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>