<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header::head-fragment('首页')">

</head>

<body>
    <div th:replace="header::header-fragment"></div>

    <div class="fly-panel fly-column">
        <div class="layui-container">
            <div class="fly-column-right layui-hide-xs">
                <a th:href="@{/addPostPage}" class="layui-btn">发布新帖</a>
            </div>
        </div>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="board-container">
                    <div class="title">
                        板块分类
                    </div>
                    <div class="board">
                        <th:block th:unless="${null == bbsPostCategories}">
                            <th:block th:each="c : ${bbsPostCategories}">
                                <div th:class="board-item ">
                                    <a th:href="@{${'/index?categoryId='+c.categoryId}}"
                                        th:text="${c.categoryName}">分享</a>
                                </div>
                            </th:block>
                        </th:block>
                        <!-- <div class="board-item" >技术讨论</div>
                        <div class="board-item">资源分享</div>
                        <div class="board-item">问题求助</div>
                        <div class="board-item">灌水区</div>
                        <div class="board-item">活动专区</div> -->
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="fly-panel" style="margin-bottom: 0;">
                    <div class="fly-panel-title fly-filter">
                        <a th:if="${null ==categoryId}">默认</a>
                        <th:block th:unless="${null == bbsPostCategories}">
                            <th:block th:each="c : ${bbsPostCategories}">
                                <a th:if="${null !=categoryId and categoryId==c.categoryId}"
                                    th:text="${c.categoryName}">默认
                                </a>
                            </th:block>
                        </th:block>
                        <!-- <a th:href="@{/index(keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}"
                            th:class="${period == null ? 'layui-this':''}">默认</a> -->

                        <span class="fly-filter-right layui-hide-xs">
                            <a th:href="@{/index(orderBy='new',period=${period},keyword=${keyword},categoryId=${categoryId})}"
                                th:class="${orderBy == 'new' ? 'layui-this':''}">按最新</a>
                            <span class="fly-mid"></span>
                            <a th:href="@{/index(orderBy='comment',period=${period},keyword=${keyword},categoryId=${categoryId})}"
                                th:class="${orderBy == 'comment' ? 'layui-this':''}">按热议</a>
                        </span>
                    </div>
                    <!-- 1.渲染帖子分页列表数据 -->
                    <th:block th:if="${#lists.isEmpty(pageResult.list)}">
                        <!-- 无数据时 -->
                        <div class="fly-none">没有相关数据</div>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(pageResult.list)}">
                        <ul class="fly-list">
                            <th:block th:each="bbsPostListEntity : ${pageResult.list}">
                                <li>
                                    <a th:href="@{${'/userCenter/'+bbsPostListEntity.publishUserId}}"
                                        class="fly-avatar">
                                        <img th:src="@{${bbsPostListEntity.headImgUrl}}"
                                            th:alt="${bbsPostListEntity.nickName}">
                                    </a>
                                    <h2>
                                        <a href="##" class="layui-badge"
                                            th:text="${bbsPostListEntity.postCategoryName}"></a>
                                        <a th:href="@{${'/detail/'+bbsPostListEntity.postId}}"
                                            th:text="${bbsPostListEntity.postTitle}"></a>
                                    </h2>
                                    <div class="fly-list-info">
                                        <a th:href="@{${'/userCenter/'+bbsPostListEntity.publishUserId}}" link>
                                            <cite th:text="${bbsPostListEntity.nickName}"></cite>
                                        </a>
                                        <span
                                            th:text="${#dates.format(bbsPostListEntity.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                        <span class="fly-list-kiss layui-hide-xs" title="赞"><i
                                                class="iconfont icon-zan"></i>
                                            <th:block th:text="${bbsPostListEntity.postCollects}"></th:block>
                                        </span>
                                        <span class="fly-list-nums"><i class="iconfont icon-pinglun1" title="评论"></i>
                                            <th:block th:text="${bbsPostListEntity.postComments}"></th:block>
                                        </span>
                                    </div>
                                    <div class="fly-list-badge">
                                    </div>
                                </li>
                            </th:block>
                        </ul>
                        <!-- 2.生成分页按钮 -->
                        <div style="text-align: center">
                            <div class="laypage-main">
                                <th:block th:if="${pageResult.currPage>1}">
                                    <a class="laypage-prev"
                                        th:href="@{/index(period=${keyword},page=${pageResult.currPage-1},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}">
                                        &lt;&lt;</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage==1}">
                                    <a class="laypage-prev" href="##">
                                        &lt;&lt;</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage-2 >=1}">
                                    <a class="laypage-prev"
                                        th:href="@{/index(period=${period},page=${pageResult.currPage-2},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}"
                                        th:text="${pageResult.currPage - 2}">1</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage-1 >=1}">
                                    <a class="laypage-prev"
                                        th:href="@{/index(period=${period},page=${pageResult.currPage-1},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}"
                                        th:text="${pageResult.currPage - 1}">1</a>
                                </th:block>
                                <a href="##" class="laypage-curr" th:text="${pageResult.currPage}">1</a>
                                <th:block th:if="${pageResult.currPage+1<=pageResult.totalPage}">
                                    <a class="laypage-next"
                                        th:href="@{/index(period=${period},page=${pageResult.currPage+1},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}"
                                        th:text="${pageResult.currPage + 1}">1</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage+2<=pageResult.totalPage}">
                                    <a class="laypage-next"
                                        th:href="@{/index(period=${period},page=${pageResult.currPage+2},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}"
                                        th:text="${pageResult.currPage + 2}">1</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage<pageResult.totalPage}">
                                    <a class="laypage-next"
                                        th:href="@{/index(period=${period},page=${pageResult.currPage+1},keyword=${keyword},categoryId=${categoryId},orderBy=${orderBy})}">
                                        &gt;&gt;</a>
                                </th:block>
                                <th:block th:if="${pageResult.currPage==pageResult.totalPage}">
                                    <a class="laypage-next" href="##">
                                        &gt;&gt;</a>
                                </th:block>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="layui-col-md3">
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">最新帖子</dt>
                    <th:block th:if="${#lists.isEmpty(newTopicBBSPostList)}">
                        <!-- 无数据时 -->
                        <div class="fly-none">没有相关数据</div>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(newTopicBBSPostList)}">
                        <th:block th:each="bbsEntity : ${newTopicBBSPostList}">
                            <dd>
                                <a th:href="@{'/detail/'+${bbsEntity.postId}}"
                                    th:text="${bbsEntity.postTitle}"></a>
                                <span><i class="iconfont icon-pinglun1"></i>
                                    <th:block th:text="${bbsEntity.postComments}"></th:block>
                                </span>
                            </dd>
                        </th:block>
                    </th:block>
                </dl>
                <!-- 3.渲染本周热议列表 -->
                <dl class="fly-panel fly-list-one">
                    <dt class="fly-panel-title">本周最热帖子</dt>
                    <th:block th:if="${#lists.isEmpty(hotTopicBBSPostList)}">
                        <!-- 无数据时 -->
                        <div class="fly-none">没有相关数据</div>
                    </th:block>
                    <th:block th:unless="${#lists.isEmpty(hotTopicBBSPostList)}">
                        <th:block th:each="bbsEntity : ${hotTopicBBSPostList}">
                            <dd>
                                <a th:href="@{'/detail/'+${bbsEntity.postId}}"
                                    th:text="${bbsEntity.postTitle}"></a>
                                <span><i class="iconfont icon-pinglun1"></i>
                                    <th:block th:text="${bbsEntity.postComments}"></th:block>
                                </span>
                            </dd>
                        </th:block>
                    </th:block>
                </dl>

            </div>
        </div>
    </div>

  
    <script src="https://cdn.staticfile.org/layui/2.5.7/layui.js"></script>
    <script th:src="@{/js/public.js}"></script>
    <script type="text/javascript">
        layui.use(['layer', 'element', 'jquery'], function () {
            var layer = layui.layer, $ = layui.$, element = layui.element;
            var device = layui.device();
            //阻止IE7以下访问
            if (device.ie && device.ie < 8) {
                layer.alert('如果您非得使用 IE 浏览器访问社区，那么请使用 IE8+');
            }
        });

    </script>
</body>

</html>