<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my.bbs.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.my.bbs.entity.User">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="user_status" jdbcType="TINYINT" property="userStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
<!--  <sql id="Base_Column_List">-->
<!--    user_id, login_name, password_md5, nick_name, head_img_url, gender, location, introduce, -->
<!--    user_status, last_login_time, create_time-->
<!--  </sql>-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
<!--    <include refid="Base_Column_List" />-->
    from sys_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeys" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
<!--    <include refid="Base_Column_List" />-->
    from sys_user
    where id in
    <foreach item="id" collection="ids" open="(" separator="," close=")">
      #{id,jdbcType=BIGINT}
    </foreach>
  </select>
<!--  <select id="selectByLoginName" resultType="com.my.bbs.entity.User">-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from tb_bbs_user-->
<!--    where login_name = #{loginName,jdbcType=VARCHAR} limit 1-->
<!--  </select>-->

<!--  <select id="selectByLoginNameAndPasswd" resultMap="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List"/>-->
<!--    from tb_bbs_user-->
<!--    where login_name = #{loginName} and password_md5 = #{password}-->
<!--  </select>-->
<!--  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
<!--    delete from tb_bbs_user-->
<!--    where user_id = #{userId,jdbcType=BIGINT}-->
<!--  </delete>-->
  <insert id="insert" parameterType="com.my.bbs.entity.User">
    insert into sys_user (id, username, password,
      nickname, avatar,user_status,create_time)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{nickname,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR},#{userStatus,jdbcType=TINYINT},
    #{createTime,jdbcType=TIMESTAMP})
  </insert>
<!--  <insert id="insertSelective" parameterType="com.my.bbs.entity.User">-->
<!--    insert into tb_bbs_user-->
<!--    <trim prefix="(" suffix=")" suffixOverrides=",">-->
<!--      <if test="userId != null">-->
<!--        user_id,-->
<!--      </if>-->
<!--      <if test="loginName != null">-->
<!--        login_name,-->
<!--      </if>-->
<!--      <if test="passwordMd5 != null">-->
<!--        password_md5,-->
<!--      </if>-->
<!--      <if test="nickName != null">-->
<!--        nick_name,-->
<!--      </if>-->
<!--      <if test="headImgUrl != null">-->
<!--        head_img_url,-->
<!--      </if>-->
<!--      <if test="gender != null">-->
<!--        gender,-->
<!--      </if>-->
<!--      <if test="location != null">-->
<!--        location,-->
<!--      </if>-->
<!--      <if test="introduce != null">-->
<!--        introduce,-->
<!--      </if>-->
<!--      <if test="userStatus != null">-->
<!--        user_status,-->
<!--      </if>-->
<!--      <if test="lastLoginTime != null">-->
<!--        last_login_time,-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        create_time,-->
<!--      </if>-->
<!--    </trim>-->
<!--    <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--      <if test="userId != null">-->
<!--        #{userId,jdbcType=BIGINT},-->
<!--      </if>-->
<!--      <if test="loginName != null">-->
<!--        #{loginName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="passwordMd5 != null">-->
<!--        #{passwordMd5,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="nickName != null">-->
<!--        #{nickName,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="headImgUrl != null">-->
<!--        #{headImgUrl,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="gender != null">-->
<!--        #{gender,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="location != null">-->
<!--        #{location,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="introduce != null">-->
<!--        #{introduce,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="userStatus != null">-->
<!--        #{userStatus,jdbcType=TINYINT},-->
<!--      </if>-->
<!--      <if test="lastLoginTime != null">-->
<!--        #{lastLoginTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="createTime != null">-->
<!--        #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--    </trim>-->
<!--  </insert>-->
  <update id="updateByPrimaryKeySelective" parameterType="com.my.bbs.entity.User">
    update sys_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null">
        user_status = #{userStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
<!--  <update id="updateByPrimaryKey" parameterType="com.my.bbs.entity.User">-->
<!--    update tb_bbs_user-->
<!--    set login_name = #{loginName,jdbcType=VARCHAR},-->
<!--      password_md5 = #{passwordMd5,jdbcType=VARCHAR},-->
<!--      nick_name = #{nickName,jdbcType=VARCHAR},-->
<!--      head_img_url = #{headImgUrl,jdbcType=VARCHAR},-->
<!--      gender = #{gender,jdbcType=VARCHAR},-->
<!--      location = #{location,jdbcType=VARCHAR},-->
<!--      introduce = #{introduce,jdbcType=VARCHAR},-->
<!--      user_status = #{userStatus,jdbcType=TINYINT},-->
<!--      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},-->
<!--      create_time = #{createTime,jdbcType=TIMESTAMP}-->
<!--    where user_id = #{userId,jdbcType=BIGINT}-->
<!--  </update>-->
</mapper>